[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
mysql-connector-python = "==8.0.26"
django-cors-headers = "*"
tzdata = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
